[submodule ".config/nvim/plugged/gruvbox"]
	path = .config/nvim/plugged/gruvbox
	url = https://github.com/ianks/gruvbox.git
[submodule ".config/nvim/plugged/vim-airline"]
	path = .config/nvim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/nvim/plugged/vim-airline-themes"]
	path = .config/nvim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".config/nvim/plugged/nerdtree"]
	path = .config/nvim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
